@charset "UTF-8";

#header {
		 height: 40%;
		 background-size: cover;
		 background-color: #990000;
		 color: white;
		 text-align: center;
		 padding-top: 10px;
		 padding-bottom: 10px;
	}
	
#form {
	margin-left: 400px;
	margin-top: 100px;
	width: 45%;
	border: 1px solid black;
	text-align: center;
}

#start {
	padding-left: 500px;
    padding-top: 50px;
}
