@charset "UTF-8";

body {
	font-family: 'Oxygen', sans-serif;
}

#header {
		 height: 40%;
		 background-size: cover;
		 background-color: #990000;
		 color: white;
		 text-align: center;
		 padding-top: 10px;
		 padding-bottom: 10px;
	}
	
#form {
	margin-left: 820px;
	margin-top: 70px;
	width: 45%;
	text-align: center;
}

.info {
	width:40%;
	margin-left: 20px;
	margin-top:50px;
	font-size: 25px;
	float: left;
}

#start {
	padding-left: 500px;
    padding-top: 50px;
}
